@model PulseNetwork.Models.WorkspacePost

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        

      
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.postDetails, new { cols = 40, @rows = 5 })
                @Html.ValidationMessageFor(model => model.postDetails, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Post" class="btn btn-default" />
            </div>
        </div>
    </div>
}

