@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="iconHome">
        <h1>
            <img src="~/Content/img/pulse_icon.png" />
            Pulse Network
        </h1>
    </div>
    <p class="lead">Prove your knowledge and expertise. Pulse Network is a shared space for techincally talented people to collaborate and learn from eachother. Your profile will showcase your knowledge to potential recruiters and companies looking for the top talent</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ask a Question</h2>
        <p>Anyone can ask a Question, on any technical question they wish. If you have a problem that you can't figure out, pose it to the hundreds of talented professionals on the Pulse Network!</p>
        
    </div>
    <div class="col-md-4">
        <h2>Answer a Question</h2>
        <p>Think you have the answer? Think that you know how to help? Post an answer and start contributing to Pulse Network today </p>
        
    </div>
    <div class="col-md-4">
        <h2>Prove your knowledge</h2>
        <p>Every answer can be rated by fellow contributors, watch your skill points rack up as you prove your worth. Each Profile displays a user's skill and the level which they have obtained</p>
        
    </div>
</div>